.split {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64em);
  width: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  bottom: 0;
}

.left {
  left: 72px;
  background-color: #32323b;
}
