.split {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
  width: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  bottom: 0;
}

.right {
  right: 0;
  background-color: #9797a3;
}
