.body {
    font: 13px Helvetica, Arial;
}

.form {
    background: lightgrey;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.message-field {
    background: white;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages {
    margin-bottom: 40px
}
